*{
    color: black;
}

body{
    background-color: cadetblue;
}

h1, h3, h4{
    text-align: center;
}

button{
    padding: 15px;
    font-style: italic;
    font-size: 20px; 
    font-weight: bold;
    margin: auto;
    border-radius: 30%;  
}

button:hover{
    background-color: lightsteelblue;
    color: red;
    transform: translateY(-5px);
    border: 2px solid lightgray;
    transition: 0.3s;
}